<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hehanpeng.framework.cloudhhp.module.batch.dao.batch.BatchJobInstanceMapper">
  <resultMap id="BaseResultMap" type="com.hehanpeng.framework.cloudhhp.module.batch.domain.entity.batch.BatchJobInstance">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="JOB_INSTANCE_ID" jdbcType="BIGINT" property="jobInstanceId" />
    <result column="VERSION" jdbcType="BIGINT" property="version" />
    <result column="JOB_NAME" jdbcType="VARCHAR" property="jobName" />
    <result column="JOB_KEY" jdbcType="VARCHAR" property="jobKey" />
  </resultMap>
</mapper>