<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hehanpeng.framework.cloudhhp.module.batch.dao.batch.BatchStepExecutionContextMapper">
  <resultMap id="BaseResultMap" type="com.hehanpeng.framework.cloudhhp.module.batch.domain.entity.batch.BatchStepExecutionContext">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="STEP_EXECUTION_ID" jdbcType="BIGINT" property="stepExecutionId" />
    <result column="SHORT_CONTEXT" jdbcType="VARCHAR" property="shortContext" />
    <result column="SERIALIZED_CONTEXT" jdbcType="LONGVARCHAR" property="serializedContext" />
  </resultMap>
</mapper>