<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wf.ew.system.dao.JobExecutionMapper">
    <resultMap id="ExtendResultMap" type="com.wf.ew.system.model.JobExecutionExtend">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="JOB_EXECUTION_ID" jdbcType="BIGINT" property="jobExecutionId" />
        <result column="VERSION" jdbcType="BIGINT" property="version" />
        <result column="JOB_INSTANCE_ID" jdbcType="BIGINT" property="jobInstanceId" />
        <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
        <result column="START_TIME" jdbcType="TIMESTAMP" property="startTime" />
        <result column="END_TIME" jdbcType="TIMESTAMP" property="endTime" />
        <result column="STATUS" jdbcType="VARCHAR" property="status" />
        <result column="EXIT_CODE" jdbcType="VARCHAR" property="exitCode" />
        <result column="EXIT_MESSAGE" jdbcType="VARCHAR" property="exitMessage" />
        <result column="LAST_UPDATED" jdbcType="TIMESTAMP" property="lastUpdated" />
        <result column="JOB_CONFIGURATION_LOCATION" jdbcType="VARCHAR" property="jobConfigurationLocation" />
        <result column="JOB_NAME" jdbcType="VARCHAR" property="jobName"/>
        <result column="ALIAS_NAME" jdbcType="VARCHAR" property="aliasName"/>
        <result column="MACH_ID" jdbcType="VARCHAR" property="machId"/>
    </resultMap>


    <select id="selectList" resultMap="ExtendResultMap">
        select
        a.JOB_EXECUTION_ID,
        a.VERSION,
        a.JOB_INSTANCE_ID,
        a.CREATE_TIME,
        a.START_TIME,
        a.END_TIME,
        a.STATUS,
        a.EXIT_CODE,
        a.EXIT_MESSAGE,
        a.LAST_UPDATED,
        a.JOB_CONFIGURATION_LOCATION,
        b.JOB_NAME
        from
        BATCH_JOB_EXECUTION a
        left join BATCH_JOB_INSTANCE b
        on a.JOB_INSTANCE_ID = b.JOB_INSTANCE_ID
        <where>
            <if test="page.pageData.startDate != null">
                AND a.create_time&gt;=#{page.pageData.startDate}
            </if>
            <if test="page.pageData.endDate != null">
                AND a.create_time&lt;=#{page.pageData.endDate}
            </if>
            <if test="page.pageData.jobName != null">
                AND b.JOB_NAME like '%${page.pageData.jobName}%'
            </if>
        </where>
        ORDER BY a.CREATE_TIME desc
    </select>
</mapper>
